<html ng-app="wordCloud" ng-controller="WordCloudController">
	<head>
		<title ng-bind="title">Loading...</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<!-- Placeholder -->
		<div id="vis"></div>
		<!-- Settings -->
		<form id="form">
			<textarea id="text" ng-model="words"></textarea>
			<button id="go" type="submit"></button>
			<input type="text" id="font" ng-model="font">
			<input type="number" id="angle-count" ng-model="angleCount" min="1" value="7">
			<input type="number" id="angle-from" ng-model="angleFrom" min="-90" max="90" value="-90">
			<input type="number" id="angle-to" ng-model="angleTo" min="-90" max="90" value="90">
			<input type="number" ng-model="numberOfWords" min="1" id="max" value="300">
			<input type="checkbox" id="per-line" ng-model="oneWordPerLine">
			
			<input type="radio" name="spiral" id="archimedean" value="archimedean" checked="checked">
			<input type="radio" name="spiral" id="rectangular" value="rectangular">
			<input type="radio" name="scale" id="scale-log" value="log" checked="checked">
			<input type="radio" name="scale" id="scale-sqrt" value="sqrt">
			<input type="radio" name="scale" id="scale-linear" value="linear">
		</form>
		<!-- Scripts -->
		<script src="d3.js"></script>
		<script src="cloud.min.js"></script>
		<script src="jquery-2.1.4.min.js"></script>
		<script src="angular.min.js"></script>
		<script src="main.js"></script>
	</body>
</html>