<html ng-app="wordCloud">
	<head>
		<title>Cegeka ASFM Feedback</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#7BB1FF">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content="SFM">

		<link rel="stylesheet"  href="styles/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
	</head>
	<body>

		<div ng-controller="WordCloudUpdateController" ng-cloak>
			<md-content class="md-padding">
				<md-card>
					<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
					<md-card-content>
						<h2 class="md-title" ng-bind="legendMessage"></h2>
						<input type="text" id="word" name="word" ng-model="word" ng-disabled="isTextfieldDisabled" autocomplete="off" required>
						<p id="validation-message" ng-show="!isWordValid()" ng-bind="patternMessage"></p>
					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-show="isResetVisible" ng-bind="resetButtonValue" ng-click="reset()" aria-label="reset"></md-button>
						<md-button ng-disabled="isSubmitDisabled || !isWordValid()" ng-bind="submitButtonValue" ng-click="submitWord()" aria-label="submit"></md-button>
					</md-card-actions>
				</md-card>
			</md-content>
		</div>

		<script src="scripts/jquery-2.1.4.min.js"></script>
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-animate.min.js"></script>
		<script src="scripts/angular-aria.min.js"></script>
		<script src="scripts/angular-material.min.js"></script>
		<script src="scripts/main.js"></script>
	</body>
</html>